<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Actions</title>
        <meta content="Admin Dashboard" name="description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}">
        
        <!-- Dropzone css -->
        <link href="{{ asset('assets/css/dropzone.min.css') }}" rel="stylesheet" type="text/css">

        <!-- App css -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />

    </head>

    <body>
        {% include 'header.html.twig' %}
        <!-- Main Content -->
        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title m-0">Actions</h4>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                {% if message is defined %} <div class="alert alert-success" align="center"> {{ message }} </div>{% endif %}
                <div style="width: 500px;margin: 0 auto;text-align: center;">
                    <div class="form-group">
                        <div style="width: 200px;margin: 0 auto;">
                            <select class="form-control" onchange="showForm(this.value)">
                                <option>Action Type</option>
                                <option value="massSeen">Mass Seen</option>
                                <option value="register">Register</option>
                                <option value="join">Join Channel</option>
                                <option value="vote">Vote</option>
                                <option value="list">List</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="actions" style="max-width: 600px; margin: 40px auto;border: 1px solid #424858;border-radius: 10px;padding: 20px;">
                    <!-- Mass Seen Form -->
                    <form id="massSeen" class="action-section" method="post" action="{{ path('new_action') }}" style="display: none;">
                        <input type="hidden" id="actionType" name="actionType" value="massSeen">
                        <div class="form-group row">
                            <label for="channelName" class="col-sm-4 col-form-label">Channel Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="channelName" type="text" id="channelName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fromPostID" class="col-sm-4 col-form-label">From post ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="fromPostId" type="text" id="fromPostID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="toPostID" class="col-sm-4 col-form-label">To post ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="toPostId" type="text" id="toPostID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="count" class="col-sm-4 col-form-label">Count</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="count" type="text" id="count">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>
                    </form>

                    <!-- Register Form -->
                    <form id="register" class="action-section" method="post" action="{{ path('new_action') }}" style="display: none;" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="actionType" id="actionType" value="register">
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="name" type="text" id="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="family" class="col-sm-4 col-form-label">Family</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="family" type="text" id="family">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MSISDN" class="col-sm-4 col-form-label">MSISDN</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="msisdn" type="text" id="MSISDN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="IMSI" class="col-sm-4 col-form-label">IMSI</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="imsi" type="text" id="IMSI">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bio" class="col-sm-4 col-form-label">bio</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="bio" type="text" id="bio">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Photo" class="col-sm-4 col-form-label">Photo</label>
                            <div class="col-sm-8">
                                <div class="dropzone" action="#">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>
                    </form>



                    <form id="join" class="action-section" method="post" action="{{ path('new_action') }}" style="display: none;">
                        <input type="hidden" name="actionType" id="actionType" value="join">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Channel Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="channelName" type="text" id="channelName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="count" class="col-sm-4 col-form-label">Count</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="count" type="text" id="count">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>
                    </form>


                    <!-- Vote Form -->
                    <form id="vote" class="action-section" method="post" action="{{ path('new_action') }}" style="display: none;">
                        <input type="hidden" name="actionType" id="actionType" value="vote">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Channel Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="channelName" type="text" id="channelName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fromPostID" class="col-sm-4 col-form-label">Post ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="postId" type="text" id="postId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="toPostID" class="col-sm-4 col-form-label">Option</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="option" type="text" id="option">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="count" class="col-sm-4 col-form-label">Votes</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="votes" type="text" id="vote">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>
                    </form>

                    <!-- List -->
                    <div id="list" class="action-section" action="#" style="display: none;" >
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Action Type</th>
                                    <th>Action Info</th>
                                    <th>Creation Date</th>
                                    <th>Status</th>
                                    <th>Admin Message</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>ID</td>
                                    <td>Action Type</td>
                                    <td>Action Info</td>
                                    <td>Creation Date</td>
                                    <td><span class="alert alert-success">Status</span></td>
                                    <td>Admin Message</td>
                                </tr>


                                <tr>
                                    <td>ID</td>
                                    <td>Action Type</td>
                                    <td>Action Info</td>
                                    <td>Creation Date</td>
                                    <td><span class="alert alert-warning">Status</span></td>
                                    <td>Admin Message</td>
                                </tr>

                                <tr>
                                    <td>ID</td>
                                    <td>Action Type</td>
                                    <td>Action Info</td>
                                    <td>Creation Date</td>
                                    <td><span class="alert alert-danger">Status</span></td>
                                    <td>Admin Message</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div> <!-- end container-fluid -->
        </div>
        <!-- end wrapper -->


        <!-- Footer -->
            {% include 'footer.html.twig' %}
        <!-- End Footer -->


        <!-- jQuery  -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/modernizr.min.js') }}"></script>
        <script src="{{ asset('assets/js/waves.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ asset('assets/js/dropzone.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script>
        function showForm(value) {
            $("#actions").css({ "maxWidth": "600px" });
            switch (value) {
                case 'massSeen':
                    $('.action-section').hide();
                    $('#massSeen').show();
                    break;

                case 'register':
                    $('.action-section').hide();
                    $('#register').show();
                    break;

                case 'vote':
                    $('.action-section').hide();
                    $('#vote').show();
                    break;

                case 'join':
                    $('.action-section').hide();
                    $('#join').show();
                    break;

                case 'list':
                    $('.action-section').hide();
                    $("#actions").css({ "maxWidth": "1200px" });
                    $('#list').show();
                    break;

                default:
                    $('.action-section').hide();
                    break;
            }
        }
        </script>

    </body>
</html>
