<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}">

        <!-- morris css -->
        <link rel="stylesheet" href="{{ asset('assets/css/morris.css') }}">

        <!-- App css -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />

    </head>


    <body>

       {% include 'header.html.twig' %}
        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title m-0">Dashboard</h4>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary mini-stat text-white">
                            <div class="p-3 mini-stat-desc">
                                <div class="clearfix">
                                    <h6 class="mt-0 float-left text-white-50">Number Of Active Users</h6>
                                </div>                                
                            </div>
                            <div class="p-3">
                                <div class="float-right">
                                    <a href="#" class="text-white-50"><i class="mdi mdi-cube-outline h5"></i></a>
                                </div>
                                <p class="font-14 m-0" id="total-users-count"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Updating ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary mini-stat text-white">
                            <div class="p-3 mini-stat-desc">
                                <div class="clearfix">
                                    <h6 class="mt-0 float-left text-white-50">Queue</h6>
                                </div>                                
                            </div>
                            <div class="p-3">
                                <div class="float-right">
                                    <a href="#" class="text-white-50"><i class="mdi mdi-cube-outline h5"></i></a>
                                </div>
                                <p class="font-14 m-0" id="queue_size"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Updating ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary mini-stat text-white">
                            <div class="p-3 mini-stat-desc">
                                <div class="clearfix">
                                    <h6 class="mt-0 float-left text-white-50">Rules</h6>
                                </div>                                
                            </div>
                            <div class="p-3">
                                <div class="float-right">
                                    <a href="#" class="text-white-50"><i class="mdi mdi-cube-outline h5"></i></a>
                                </div>
                                <p class="font-14 m-0" id="rules-count"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Updating ...</p>
                            </div>
                        </div>
                    </div>

                </div>  
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-8">
                        <div class="card m-b-30">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Bar Chart</h4>

                                <div id="morris-bar-chart" class="morris-chart" style="height: 300px">
                                    <div class="loading-container">
                                        <div class="sc1"></div>
                                        <div class="sc2"></div>
                                        <div class="sc3"></div>
                                        <div class="sc4"></div>
                                        <div class="sc5"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> <!-- end col -->

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Users Repo</h4>

                                <div id="morris-donut-chart" class="morris-chart" style="height: 300px">
                                    <div class="loading-container">
                                        <div class="sc1"></div>
                                        <div class="sc2"></div>
                                        <div class="sc3"></div>
                                        <div class="sc4"></div>
                                        <div class="sc5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="form-group row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="filter-bar-chart" placeholder="Filter The Chart" disabled>
                    </div>
                   <!-- <div class="col-sm-2">
                        <button class="btn btn-primary" id="filter-btn">Filter</button>
                    </div> -->
                </div>

                <!-- end row -->

            </div> <!-- end container-fluid -->
        </div>
        <!-- end wrapper -->


        <!-- Footer -->
        {% include 'footer.html.twig' %}
        <!-- End Footer -->


        <!-- jQuery  -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/modernizr.min.js') }}"></script>

        <script src="{{ asset('assets/js/waves.js') }}"></script>

        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>

        <!--Morris Chart-->
        <script src="{{ asset('assets/js/morris.min.js') }}"></script>
        <script src="{{ asset('assets/js/raphael.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ asset('assets/js/app.js') }}"></script>

        <script>

            var numberOfActiveUsers = -1;
            var numberOfPendingUsers = -1;

            function barChart(barData) {
                $("#morris-bar-chart").empty();

                Morris.Bar({
                    element: 'morris-bar-chart',
                    data: barData,
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Series A', 'Series B'],
                    gridLineColor: '#eef0f2',
                    barSizeRatio: 0.4,
                    resize: true,
                    hideHover: 'auto',
                    barColors: ['#5985ee', '#46cd93']
                });
            }
            
            // autocomplete
            function autocomplete(inp, arr) {
                var currentFocus;
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value;
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    this.parentNode.appendChild(a);
                    for (i = 0; i < arr.length; i++) { 
                        if (arr[i].substr(0, val.length).toUpperCase()==val.toUpperCase()) {
                                b=document.createElement("DIV");
                                b.innerHTML="<strong>" + arr[i].substr(0, val.length) + "</strong>" ;
                                b.innerHTML +=arr[i].substr(val.length);
                                b.innerHTML +="<input type='hidden' value='" + arr[i] + "'>" ;
                                b.addEventListener("click", function(e) {
                                inp.value=this.getElementsByTagName("input")[0].value;
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
                inp.addEventListener("keydown", function(e) {
                    var x=document.getElementById(this.id + "autocomplete-list" );
                    if (x) x=x.getElementsByTagName("div");
                    if (e.keyCode==40) {
                        currentFocus++;
                        addActive(x);
                    } else if (e.keyCode==38) { 
                        currentFocus--; 
                        addActive(x);
                    } else if (e.keyCode==13) {
                        e.preventDefault();
                        if (currentFocus> -1) {
                            if (x) x[currentFocus].click();
                        }
                    }
                });
                function addActive(x) {
                    if (!x) return false;
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus=(x.length - 1);
                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                    for (var i=0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                var x=document.getElementsByClassName("autocomplete-items");
                    for (var i=0; i < x.length; i++) {
                        if (elmnt !=x[i] && elmnt !=inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            function filterBarChart(value) {
                filterString = $("#filter-bar-chart").val();
                if(value["y"].includes(filterString)) return value;
            }

            //creating donut chart
            function makeDonut() {
                var donutData = [
                    {label: "Active Users", value: numberOfActiveUsers},
                    {label: "Pending for activation", value: numberOfPendingUsers}
                ];

                Morris.Donut({
                    element: 'morris-donut-chart',
                    data: donutData,
                    resize: true,
                    colors: ['#4bbbce', '#5985ee']
                });
            }

            $.getJSON( "{{ path('usersReportEndpoint',{choice: 2}) }}", function( data ) {
                $("#total-users-count").html(data.count);
            });

            $.getJSON( "{{path('usersReportEndpoint',{choice: 0})}}", function( data ) {
                numberOfPendingUsers = data.count;
                if(numberOfActiveUsers != -1) {
                    $("#morris-donut-chart").empty();
                    makeDonut();
                }
            });

            $.getJSON( "{{path('usersReportEndpoint',{choice: 1})}}", function( data ) {
                numberOfActiveUsers = data.count;
                if(numberOfPendingUsers != -1) {
                    $("#morris-donut-chart").empty();
                    makeDonut();
                }
            });

            $.getJSON( "{{path('rulesCountEndpoint')}}", function( data ) {
                $("#rules-count").html(data.count);
            });

            $.ajax({
                dataType: "json",
                url: "{{path('chartDataEndpoint')}}",
                success: function( data ) {
                    barChart(data);

                    var autoComplete = data.map(x => x.y);
                    autocomplete(document.getElementById("filter-bar-chart"), autoComplete);

                    $('#filter-bar-chart').on('input', function() {
                        var filtered = data.filter(filterBarChart);
                        barChart(filtered)
                    });

                    $("#filter-btn").click(function () {
                        var filtered = data.filter(filterBarChart);
                        barChart(filtered)
                    })

                    $("#filter-bar-chart").prop('disabled',false);
                }
            });

            setInterval(function(){
                $.getJSON( "{{path('queueSizeEndpoint')}}", function( data ) {
                    var num=data.result.size[0];
                    $("#queue_size").html(num.toLocaleString());
                });
            }, 20000);

        </script>

    </body>
</html>